# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Clean CSV from the previous lab
import pandas as pd
cd_1_clean = 'cd_cleaned.csv'
cd_1_clean = pd.read_csv(cd_1_clean)
cd_1_clean.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,Undisclosed,Master,588174.235,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.590,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.170,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.180,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.650,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323

In [2]:
cd_1_clean.shape

(1071, 11)

In [3]:
#Reading File 2 as cd_2
cd_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
cd_2 = pd.read_csv(cd_2)

In [4]:
cd_2.shape

(996, 11)

In [5]:
#Reading File 3 as cd_3
cd_3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
cd_3 = pd.read_csv(cd_3)

In [6]:
cd_3.shape

(7070, 11)

In [7]:
# Cleanig columns 2
cd_2.columns = cd_2.columns.str.lower() # amending to lower case 
cd_2.columns = cd_2.columns.str.replace(" ", "_") # removing/replacing spaces with "_"
cd_2.columns = cd_2.columns.str.replace("st", "state")

In [8]:
# Cleanig columns 3
cd_3.columns = cd_3.columns.str.lower() # amending to lower case 
cd_3.columns = cd_3.columns.str.replace(" ", "_") # removing/replacing spaces with "_"
cd_3.columns = cd_3.columns.str.replace("st", "state")

In [9]:
# Removing row (if all emnpty) in both sets 
cd_2.dropna(how='all', inplace=True)
cd_3.dropna(how='all', inplace=True)

In [10]:
concatinated_df = pd.concat([cd_1_clean, cd_2, cd_3], axis=0)
concatinated_df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,custateomer,custateomer_lifetime_value,stateate
0,RB50392,Washington,Undisclosed,Master,588174.235,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934,NaN,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.590,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935,NaN,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.170,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247,NaN,NaN,NaN
3,WW63253,California,M,Bachelor,764586.180,0.0,106.0,0.0,Corporate Auto,SUV,529.881344,NaN,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.650,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323,NaN,NaN,NaN

In [11]:
concatinated_df.shape

(9137, 14)

In [12]:
concatinated_df.duplicated().sum()

0

In [22]:
concatinated_df['customer'].fillna(concatinated_df['custateomer'], inplace=True)
concatinated_df.drop(columns=['custateomer'], inplace=True)

In [24]:
concatinated_df['state'].fillna(concatinated_df['stateate'], inplace=True)
concatinated_df.drop(columns=['stateate'], inplace=True)

In [26]:
concatinated_df['customer_lifetime_value'].fillna(concatinated_df['custateomer_lifetime_value'], inplace=True)
concatinated_df.drop(columns=['custateomer_lifetime_value'], inplace=True)

In [28]:
concatinated_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9132 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9133 non-null   object
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   object
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 856.6+ KB

In [29]:
concatinated_df.shape

(9137, 11)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [13]:
# Your code goes here

In [36]:
marketing_customer_analysis = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
marketing_customer_analysis = pd.read_csv(marketing_customer_analysis)
marketing_customer_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

In [37]:
marketing_customer_analysis.dropna(how='all', inplace=True)
marketing_customer_analysis.shape

(10910, 27)

In [39]:
marketing_customer_analysis['policy_type'].unique()

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [67]:
pivot_df_media = pd.pivot_table(marketing_customer_analysis, values='customer_lifetime_value', index='sales_channel')
round(pivot_df_media,2)

               customer_lifetime_value
sales_channel
Agent                          8021.81
Branch                         8060.62
Call Center                    8110.36
Web                            7809.12

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [66]:
pivot_df_avr_clv = marketing_customer_analysis.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='sum')
round(pivot_df_avr_clv)

          customer_lifetime_value                                              \
education                Bachelor     College     Doctor High School or Below
gender
F                      13386258.0  12460108.0  1465702.0           13793600.0
M                      12110062.0  12851725.0  1490482.0           12680914.0


education     Master
gender
F          3874600.0
M          3365559.0

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here