In [13]:
import pandas as pd

In [14]:
pip install xlrd

Requirement already satisfied: xlrd in /Users/bart/anaconda3/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [15]:
shark_attacks = pd.read_excel('https://www.sharkattackfile.net/spreadsheets/GSAF5.xls')

In [6]:
shark_attacks['Date'] = shark_attacks['Date'].fillna('not provided')
null_values = shark_attacks[shark_attacks['Date'].isnull()]
null_values

Empty DataFrame
Columns: [Date, Year, Type, Country, State, Location, Activity, Name, Sex, Age, Injury, Unnamed: 11, Time, Species , Source, pdf, href formula, href, Case Number, Case Number.1, original order, Unnamed: 21, Unnamed: 22]
Index: []

[0 rows x 23 columns]

In [20]:
shark_attacks['Date'] = pd.to_datetime(shark_attacks['Date'], format='%d-%b-%Y', errors='coerce')
filtered_df = shark_attacks[shark_attacks['Date'].notnull()]
shark_attacks = shark_attacks[shark_attacks['Date'].notnull()]

In [19]:
shark_attacks = pd.read_excel('https://www.sharkattackfile.net/spreadsheets/GSAF5.xls')

def custom_date_parser(date_str):
    try:
        return pd.to_datetime(date_str, format='%d %b-%Y')
    except ValueError:
        return pd.to_datetime(date_str, errors='coerce')

# Apply the custom date parser to the "Date" column in the shark_attacks DataFrame
shark_attacks['Date'] = shark_attacks['Date'].apply(custom_date_parser)

# Extract the month from the "Date" column
shark_attacks['Month'] = shark_attacks['Date'].dt.month

# Display the DataFrame with the extracted month
print(shark_attacks[['Date', 'Month']])

           Date  Month
0    2024-01-09    1.0
1    2024-01-05    1.0
2    2023-12-30   12.0
3    2023-12-29   12.0
4    2023-12-28   12.0
...         ...    ...
6952        NaT    NaN
6953        NaT    NaN
6954        NaT    NaN
6955        NaT    NaN
6956        NaT    NaN

[6957 rows x 2 columns]

In [23]:
unique_values = shark_attacks['Month'].unique()
unique_values

array([ 1., 12., 11., 10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.])