In [3]:
import pandas as pd
import seaborn as sns

In [4]:
p_df = sns.load_dataset("penguins")

In [5]:
p_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [6]:
p_df.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

#### drooping nas

In [7]:
p_df = p_df.dropna()

#### dropping duplicates

In [8]:
p_df = p_df.drop_duplicates()

### X-y split

In [9]:
X = p_df[["flipper_length_mm","bill_depth_mm"]]
y = p_df[["body_mass_g"]]

### Train-test split

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

In [ ]:
scaler = StandardScaler()
scaler_fitter = scaler

### Model training

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lm = LinearRegression()
model = lm.fit(X_train,y_train)

In [14]:
model.coef_

array([[52.20343571, 13.10815533]])

In [15]:
model.intercept_

array([-6509.21617362])

### Predict mass of random penguin

In [16]:
random_penguin = X_test.sample()

In [17]:
random_penguin

    flipper_length_mm  bill_depth_mm
82              187.0           18.8

In [18]:
model.predict(random_penguin)

array([[3499.25962379]])

### Create predictions for test set

In [19]:
y_pred = model.predict(X_test)

In [20]:
y_pred = pd.DataFrame(y_pred)

In [21]:
y_test = y_test.reset_index(drop=True)

In [22]:
resiudals_df = pd.concat([y_test,y_pred],axis=1)

In [23]:
residuals_df = resiudals_df.rename(columns={"body_mass_g":"y_test", 0:"y_pred"})

In [24]:
residuals_df["residual"] = residuals_df["y_test"]-residuals_df["y_pred"]

In [25]:
residuals_df.head()

   y_test       y_pred    residual
0  3250.0  3001.901576  248.098424
1  4875.0  5271.325621 -396.325621
2  4000.0  3920.819556   79.180444
3  3675.0  4053.835184 -378.835184
4  4050.0  3752.411909  297.588091

### Calculating metrics

In [26]:
mean_error = residuals_df["residual"].mean()

In [27]:
mean_error

0.42567127691797524

In [28]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [29]:
mse(y_test,y_pred)

135012.9173072701

In [30]:
mae(y_test,y_pred)

295.239293718512

In [31]:
rmse = mse(y_test,y_pred, squared = False)

In [32]:
from sklearn.metrics import r2_score

### Computing R2_score

#### Computing R2_score for test_set

In [35]:
round(r2_score(y_test,y_pred),2)
#2 normally r2 is between 0 and 1. 1 is the best for predicring y

# in general a r2 score above 0.8 is considered good. however depends on your case and industry, on the envirment of you variables

0.78

#### Computing R2_score for TRAIN_set

In [43]:
y_pred_train = pd.DataFrame(model.predict(X_train))
# with pd.DataFrame i put it into a data frame

In [44]:
y_pred_train

               0
0    5616.005808
1    5001.132734
2    3671.599717
3    4741.426371
4    4453.340437
..           ...
244  3973.022992
245  3350.514210
246  3798.061267
247  5172.162012
248  3162.444330

[249 rows x 1 columns]

In [47]:
# i put now test against the model 
round(r2_score(y_train,y_pred_train),2)

0.76

In [72]:
round(r2_score(X_train,y_pred),2)

ValueError: Found input variables with inconsistent numbers of samples: [249, 84]

In [ ]:
# if we see that that both values are similar (R2_score for test_set and R2_score for TRAIN_set)
# that a good sign then!

In [59]:
#feature importance dataframe
# name of the va and importance of its cofficients 

feature_names = list(X_train.columns)
feature_names

['flipper_length_mm', 'bill_depth_mm']

In [62]:
coefficients = list(model.coef_)
coefficients

[array([52.20343571, 13.10815533])]

In [63]:
coefficients = [i for i in coefficients[0]]

In [65]:
fi_dict = {"name": feature_names, "coeff":coefficients}
fi_df = pd.DataFrame(fi_dict)
fi_df

                name      coeff
0  flipper_length_mm  52.203436
1      bill_depth_mm  13.108155

In [73]:
# here we compare the importance of the variables.
# --------if i want the impfortance for each i need to scale them the all the same! ------

# Increase figure size
plt.figure(figsize=(12, 6))

# Create the bar plot with rotated x-axis labels
sns.barplot(x=fi_df["name"], y=fi_df["coeff"])
plt.xticks(rotation=45, ha="right")  

# Show the plot
plt.show()

NameError: name 'plt' is not defined

In [70]:
from sklearn.preprocessing import StandardScaler

In [71]:
scaler = StandardScaler()

In [ ]:
ca_fd = pd.read()