In [1]:
import pandas as pd
import seaborn as sns

In [3]:
p_df = sns.load_dataset("penguins")

In [4]:
p_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [9]:
p_df.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [33]:
#dropping nas and doubles 
p_df = p_df.dropna()
p_df = p_df.drop_duplicates()

In [ ]:
# 1. I determine the input and target variables

In [ ]:
# i want to predict how much it will weight (body_mass)
# target variable body_mass

In [6]:
# the input/explonatory variables we will use 2: bill_depth_mm,

X - y split
I define the type of variablles

In [35]:
X = p_df[["flipper_length_mm", "bill_depth_mm"]]
y = p_df[["body_mass_g"]]

### Train-test split

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [38]:
y_test # results for test

     body_mass_g
30        3250.0
317       4875.0
79        4000.0
201       3675.0
63        4050.0
..           ...
247       5650.0
122       3450.0
146       4250.0
182       3200.0
96        3700.0

[84 rows x 1 columns]

### Model training

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
lm = LinearRegression()

model = lm.fit(X_train, y_train)

In [43]:
model.coef_
# ------   the coefficient represents the slope of the line that best fits the data. --------

# If the coefficient is positive, it means that as the corresponding feature increases, the predicted output also increases.
# If the coefficient is negative, it means that as the corresponding feature increases, the predicted output decreases.

array([[52.20343571, 13.10815533]])

In [42]:
model.intercept_

# -------    Intercept is the point where the regression line crosses the y-axis. ------

# It's the baseline prediction when all the features are zero. 
# In simpler terms, it's the predicted output when all the input features have zero values. 
# The intercept is essentially the starting point of the prediction before considering the impact 
# of the individual features.

array([-6509.21617362])

In [ ]:
# MB = intercept(-6509) + coefficient (52* 201)
# coefficient identifies the slope e.g. 52 * flipper_length_mm and 13 bill_depth_mm to predict the mass 
# intercept tells you it with point our line crosses the y axe

In [ ]:
Predict mass of random pinguin

In [46]:
random_pinguin = X_test.sample()
random_pinguin # this is my random pinguin

    flipper_length_mm  bill_depth_mm
81              196.0           17.6

In [45]:
model.predict(random_pinguin) # this is the prediction for his body mass based on 2 variables

array([[3920.81955604]])

##Create preditions for test set

In [48]:
y_pred = model.predict(X_test)

In [49]:
y_pred # predictions from the test set without the acutal targets/results. next steps we compare agant the model

array([[3001.90157623],
       [5271.32562111],
       [3920.81955604],
       [4053.83518356],
       [3752.41190912],
       [4738.80473978],
       [5328.77231895],
       [3914.26547837],
       [3804.61534483],
       [4232.72935475],
       [3953.36075875],
       [4103.64617383],
       [4532.61262802],
       [3808.54779143],
       [4642.26276156],
       [3364.70399511],
       [3478.28657525],
       [3748.47946252],
       [3499.25962379],
       [4844.52242672],
       [3962.53646748],
       [3632.27525131],
       [5589.78949748],
       [4346.31193489],
       [3172.93085422],
       [3527.86837989],
       [4784.45409782],
       [4809.35959295],
       [3172.93085422],
       [5653.79027299],
       [3470.42168205],
       [5720.41267956],
       [4081.36230976],
       [4271.82463512],
       [5717.7910485 ],
       [4587.43769479],
       [3910.33303177],
       [4528.68018142],
       [3644.07259111],
       [3409.04253761],
       [3192.59308722],
       [3644.07259111],
       [4172.66102584],
       [4099.4845416 ],
       [3601.04486414],
       [3463.86760438],
       [5223.054632  ],
       [3552.77387503],
       [3671.59971731],
       [5119.95857612],
       [3748.47946252],
       [5024.72741344],
       [4697.08782834],
       [3132.52475831],
       [3732.97886175],
       [5189.20261377],
       [3222.51265885],
       [3947.03586671],
       [3978.26625388],
       [4334.51459509],
       [5619.93825475],
       [4925.56380417],
       [5161.67548756],
       [3819.0343157 ],
       [3820.34513123],
       [5452.84142336],
       [3882.80590557],
       [4841.90079566],
       [3694.96521128],
       [5392.77309446],
       [3608.90975734],
       [3135.14638938],
       [5150.10733339],
       [5003.75436491],
       [4886.23933816],
       [4256.32403435],
       [3608.90975734],
       [4147.98471634],
       [3803.30452929],
       [4911.1448333 ],
       [2901.42715142],
       [3653.24829984],
       [3470.42168205],
       [3653.24829984]])

In [50]:
y_pred = pd.DataFrame(y_pred)

In [ ]:
residuals_df = pd.DataFrame({"y_test": y_test,"y_pred": y_pred, "residuals": y_test-y_pred}, index = (len(y_pred))

In [ ]:
pd.concat([y_test,y_pred])

### Calculating metrics

In [ ]:
mean_error = rediduals_df["residuals"].mean()

In [ ]:
mean.error

In [51]:
import sklearn.metrics import mean_squared_error as mse, mean_absolute_error as mae

SyntaxError: invalid syntax (2374606615.py, line 1)

In [ ]:
mse()

In [ ]:
# when would we use the scaler?
# we scale after the split, to strickly diffeere between test and train set 
# use the same scaler for test as train but seperatly