In [3]:
import pandas as pd
bayern_data = pd.read_csv("Bundesliga_Results.csv")
bayern_data

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,D1,7/8/1993,Bayern Munich,Freiburg,3,1,H,NaN,NaN,NaN,1993-94
1,D1,7/8/1993,Dortmund,Karlsruhe,2,1,H,NaN,NaN,NaN,1993-94
2,D1,7/8/1993,Duisburg,Leverkusen,2,2,D,NaN,NaN,NaN,1993-94
3,D1,7/8/1993,FC Koln,Kaiserslautern,0,2,A,NaN,NaN,NaN,1993-94
4,D1,7/8/1993,Hamburg,Nurnberg,5,2,H,NaN,NaN,NaN,1993-94
...,...,...,...,...,...,...,...,...,...,...,...
7645,D1,12/5/2018,Hoffenheim,Dortmund,3,1,H,1.0,0.0,H,2017-18
7646,D1,12/5/2018,Leverkusen,Hannover,3,2,H,2.0,0.0,H,2017-18
7647,D1,12/5/2018,Mainz,Werder Bremen,1,2,A,1.0,1.0,D,2017-18
7648,D1,12/5/2018,Schalke 04,Ein Frankfurt,1,0,H,1.0,0.0,H,2017-18
7649,D1,12/5/2018,Wolfsburg,FC Koln,4,1,H,1.0,1.0,D,2017-18

----INSTRUCTIONS----

If column Home Team = Bayern Munich THEN count FTHG

If column Away Team = Bayern Munich THEN count FTAG

FTHG + FTAG = the number of goals Bayern Munich have scored per season in September

In [5]:
# Filter rows where Bayern Munich is either the HomeTeam or AwayTeam
bayern_data = bayern_data[(bayern_data['HomeTeam'] == 'Bayern Munich') | (bayern_data['AwayTeam'] == 'Bayern Munich')]

# Count occurrences in FTHG and FTAG when Bayern Munich is the HomeTeam
bayern_home_goals = bayern_data.loc[bayern_data['HomeTeam'] == 'Bayern Munich', 'FTHG'].sum()

# Count occurrences in FTHG and FTAG when Bayern Munich is the AwayTeam
bayern_away_goals = bayern_data.loc[bayern_data['AwayTeam'] == 'Bayern Munich', 'FTAG'].sum()

# Create a new DataFrame with relevant data
bayern_summary = pd.DataFrame({
    'Team': ['Bayern Munich'],
    'TotalGoalsAsHomeTeam': [bayern_home_goals],
    'TotalGoalsAsAwayTeam': [bayern_away_goals]
})

# Display the summary DataFrame
bayern_summary

            Team  TotalGoalsAsHomeTeam  TotalGoalsAsAwayTeam
0  Bayern Munich                  1090                   751

In [6]:
import pandas as pd

# Extract the year from the 'Date' column
bayern_data['Year'] = pd.to_datetime(bayern_data['Date']).dt.year

# Filter rows where Bayern Munich is either the HomeTeam or AwayTeam
bayern_data = bayern_data[(bayern_data['HomeTeam'] == 'Bayern Munich') | (bayern_data['AwayTeam'] == 'Bayern Munich')]

# Group by year and count occurrences in FTHG and FTAG
bayern_summary = bayern_data.groupby('Year').agg(
    TotalGoalsAsHomeTeam=('FTHG', 'sum'),
    TotalGoalsAsAwayTeam=('FTAG', 'sum')
).reset_index()

# Display the summary DataFrame
bayern_summary

ValueError: time data "14/08/93" doesn't match format "%m/%d/%Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.