In [3]:
import pandas as pd

In [2]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 1.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
shark_attacks = pd.read_excel('https://www.sharkattackfile.net/spreadsheets/GSAF5.xls')

In [25]:
shark_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6957 entries, 0 to 6956
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6932 non-null   object
 1   Year            6930 non-null   float64
 2   Type            6914 non-null   object
 3   Country         6882 non-null   object
 4   State           6451 non-null   object
 5   Location        6368 non-null   object
 6   Activity        6347 non-null   object
 7   Name            6713 non-null   object
 8   Sex             6353 non-null   object
 9   Age             3942 non-null   object
 10  Injury          6897 non-null   object
 11  Unnamed: 11     6371 non-null   object
 12  Time            3410 non-null   object
 13  Species         3804 non-null   object
 14  Source          6913 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [24]:
shark_attacks.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05-Jan-2024,2024.0,Provoked,SOUTH AFRICA,Eastern Cape Province,Papiesfontein,Fishing,male,M,62,...,Raggedtooth shark,Jacaranda fm. 1/6/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30 Dec-2023,2023.0,Unprovoked,USA,Hawaii,"Baby Beach, Maui",Surfing,Jason Carter,M,39,...,NaN,"Surfer, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29 Dec-2023,2023.0,Unprovoked,MEXICO,Sonora,"Tojahui Beach, Yavaros, Huatabampo",Free diving,Víctor Alejandro “N”,M,22,...,White shark,"EuroESEuro, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28 Dec-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Ethel Beach,Surfing,Khai Cowley,M,15,...,"White shark, 13'","S. DeMarchi, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
shark_attacks.shape

(6957, 23)

In [15]:
shark_attacks.Type.unique()

array(['Unprovoked', 'Provoked', 'Questionable', 'Watercraft',
       'Sea Disaster', nan, '?', 'Unconfirmed', 'Unverified', 'Invalid',
       'Under investigation', 'Boat'], dtype=object)

In [ ]:
frequencies = shark_attacks.Type.value_counts()
frequencies

In [16]:
shark_attacks.Activity.unique()

array(['Surfing', 'Fishing', 'Free diving', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [19]:
frequencies = shark_attacks.Type.value_counts()
frequencies

Type
Unprovoked             5098
Provoked                634
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
Boat                      7
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [ ]:
object_columns = customer_data.select_dtypes(include='object')
object_columns

In [11]:
shark_attacks.nunique()

Date              5992
Year               259
Type                11
Country            224
State              896
Location          4503
Activity          1586
Name              5677
Sex                  8
Age                243
Injury            4076
Unnamed: 11         12
Time               410
Species           1674
Source            5291
pdf               6789
href formula      6785
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [20]:
shark_attacks.describe(include="number")

              Year  original order
count  6930.000000     6799.000000
mean   1934.249351     3401.152081
std     273.132061     1963.076319
min       0.000000        2.000000
25%    1947.000000     1701.500000
50%    1985.000000     3401.000000
75%    2009.000000     5100.500000
max    2024.000000     6802.000000

In [10]:
shark_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6957 entries, 0 to 6956
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6932 non-null   object
 1   Year            6930 non-null   float64
 2   Type            6914 non-null   object
 3   Country         6882 non-null   object
 4   State           6451 non-null   object
 5   Location        6368 non-null   object
 6   Activity        6347 non-null   object
 7   Name            6713 non-null   object
 8   Sex             6353 non-null   object
 9   Age             3942 non-null   object
 10  Injury          6897 non-null   object
 11  Unnamed: 11     6371 non-null   object
 12  Time            3410 non-null   object
 13  Species         3804 non-null   object
 14  Source          6913 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB