Task: String Split and Refinement

Given a string containing names and ages in the format "Name_Age", create a list of dictionaries where each dictionary represents a person with keys "Name" and "Age". Use list comprehension to achieve this.

Example string: "John_25,Anna_30,Mike_22"

In [ ]:
name_string = "John_25,Anna_30,Mike_22"

# Step 1: Split the name_string into individual name and age pairs using "," as the delimiter
name_age_pairs = name_string.split(",")

name_age_pairs

In [ ]:
# Step 2: Use a list comprehension to create a list of dictionaries for each name and age pair

names_dict_list = [{pair.split("_")[0], int(pair.split("_")[1])} for pair in name_age_pairs]
names_dict_list

In [ ]:
print(names_dict_list)

In [ ]:
names_dict_list = [{"Name": pair.split("_")[0], "Age": int(pair.split("_")[1])} for pair in name_age_pairs]
names_dict_list

In [ ]:
code_dict = {"country": string_in_list.split("-")[0], "number": int(string_in_list.split("-")[1]) for string_in_list in data_strings}


code_dict = {"country": string_in_list.split("-")[1], "number":int(string_in_list) for string_in_list in data_strings}
code_dict

In [ ]:
data_strings = ["us-123", "ca-456", "uk-789", "es-321", "fr-555"]

code_dict = {"country": string_in_list.split("-")[0], "number": int(string_in_list.split("-")[1]) for string_in_list in data_strings}

In [1]:
data_strings = ["us-123", "ca-456", "uk-789", "es-321", "fr-555"]

code_dict = {"country": string_in_list.split("-")[0], "number": int(string_in_list.split("-")[1]) for string_in_list in data_strings}

print(code_dict)

SyntaxError: invalid syntax (3608830681.py, line 3)

In [6]:
data_strings = ["us-123", "ca-456", "uk-789", "es-321", "fr-555"]

new_codes_dict = {}

for strings in data_strings:
    key, value = strings.split("-")
    new_codes_dict[key] = value

print(new_codes_dict)

{'us': '123', 'ca': '456', 'uk': '789', 'es': '321', 'fr': '555'}

In [7]:
data_strings = ["us-123", "ca-456", "uk-789", "es-321", "fr-555"]

new_codes_dict = {key: value for strings in data_strings for key, value in [strings.split("-")]}

print(new_codes_dict)

{'us': '123', 'ca': '456', 'uk': '789', 'es': '321', 'fr': '555'}

Task: Extracting Names and Ages

Given a list of strings in the format "name-age," create a dictionary where the keys are the names (the part before the "-") and the values are the corresponding ages (the part after the "-").

In [8]:
data_strings = ["John-25", "Anna-30", "Mike-22"]


split_dict = {}

for string in data_strings:
    key, value = string.split("-")
    split_dict[key] = value
    
print(split_dict)

{'John': '25', 'Anna': '30', 'Mike': '22'}

Task: Categorizing Numbers

Given a list of numbers, create a dictionary where the keys represent different categories (e.g., "even" and "odd"), and the values are lists containing the numbers that fall into each category.

In [10]:
numbers = [1, 2, 3, 4, 5]

new_list = []

for number in numbers:
    each_number = number*2
    new_list.append(each_number)
    
print(new_list)

[2, 4, 6, 8, 10]